$color-white: white;
$color-black: black;
$color-red: red;
$bg-color: #ffffff;
$color-gray: rgb(180, 180, 180);
@mixin bg-color($color) {
    background-color: $color;
}

@mixin reset-margin-padding() {
    margin: 0;
    padding: 0;
}

@mixin padding($t, $r, $b, $l) {
    padding: $t $r $b $l;
}

@mixin width-height($w, $h) {
    width: $w;
    height: $h;
}

@mixin max-width-height($w, $h) {
    max-width: $w;
    max-height: $h;
}

@mixin bg-img($url) {
    background-image: url($url);
}

@mixin margin($t, $r, $b, $l) {
    margin: $t $r $b $l;
}

@mixin content-images_class($img, $w, $h) {
    @include width-height($w, $h);
    background-image: url($img);
}

@mixin content_class($w, $h, $color) {
    @include width-height($w, $h);
    @include bg-color($color);
}

body {
    @include bg-color($color-white);
    font-family: Arial;
    @include reset-margin-padding();
    margin: auto;
}

ul {
    list-style-type: none;
    @include reset-margin-padding();
    overflow: hidden;
    @include bg-color($color-gray);
    li {
        float: left;
        @include padding(20px, 0px, 0px, 20px);
        a {
            display: block;
            color: $color-black;
            @include padding(14px, 16px, 0px, 0px);
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
}

.login-register {
    float: right;
    @include padding(10px, 0px, 0px, 0px);
}

.login-register button {
    width: 200px;
}

.content-images {
    float: left;
    @include content-images_class('../../../assets/images/img.jpg', 70%, 800px);
}

.content {
    float: left;
    @include content_class(30%, 800px, $color-white);
}

.content-login {
    @include content_class(70%, 500px, $color-white);
    text-align: left;
    margin: auto;
    @include padding(100px, 0px, 0px, 0px);
}

.top {
    @include bg-color($color-gray);
    border: none;
    @include padding(16, 32px, 0px, 0px);
    height: 70px;
}

.bottom {
    border-radius: 8px;
    @include bg-color(gray);
    color: black;
    border: none;
    @include padding(20px, 10px, 20px, 0px);
    width: 45%;
}

.button-registernow {
    color: $color-red;
    @include bg-color($color-red);
    border: none;
    @include padding(22px, 22px, 10px, 10px);
    @include margin(50px, 0px, 0px, 0px);
    font-size: 20px;
    max-width: 220px;
}

.login {
    float: left;
}

.button {
    text-shadow: -1px 0 $color-white, 0 1px $color-white, 1px 0 $color-white, 0 -1px $color-white;
}

.register {
    float: right;
}

.button:hover {
    @include bg-color(#209920);
    color: $color-white;
}

input[type=text],
input[type=password] {
    width: 75%;
    @include padding(12px, 40px, 12px, 40px);
    @include margin(8px, 8px, 8px, 1px);
    border: 2px solid rgb(95, 105, 163);
    text-align: start;
}

.form-login a[href="#1"] {
    color: $color-black;
}

.input-icons i {
    position: absolute;
    @include padding(15px, 15px, 15px, 15px);
    font-size: 24px;
}

ul img {
    @include max-width-height(100px, 100%);
    position: absolute;
    @include padding(5px, 5px, 5px, 5px);
    @include margin(0px, 0px, 0px, 45%);
}

#content-img {
    @include bg-color($color-black);
    @include width-height(50%, 50%);
    @include margin(15%, auto, auto, auto);
    @include padding(10px, 10px, 10px, 10px);
    color: white;
    text-align: center;
}

#img-top {
    position: absolute;
    right: 1%;
    border-radius: 60px;
    @include bg-color(#5a5a5a);
    @include padding(5px, 5px, 5px, 5px)
}

@media screen and (max-width: 900px) {
    .content {
        @include content_class(100%, auto, $color-white);
    }
    .content-images {
        float: left;
        @include content-images_class('../../../assets/images/img.jpg', 100%, 700px);
    }
    #content-img {
        @include bg-color($color-black);
        @include width-height(95%, 75%);
        @include margin(15%, auto, auto, auto);
        @include padding(10px, 10px, 10px, 10px);
        color: white;
        text-align: center;
    }
    input[type=text],
    input[type=password] {
        width: 85%;
        @include padding(12px, 30px, 12px, 50px);
        @include margin(8px, 8px, 8px, 1px);
        border: 2px solid rgb(95, 105, 163);
        text-align: start;
    }
    .login-register button {
        width: 130px;
    }
    ul img {
        @include max-width-height(70px, 50%);
        position: absolute;
        @include padding(80px, 5px, 5px, 5px);
        @include margin(0px, 0px, 0px, 40%);
    }
}