body {
  background-color: white;
  font-family: Arial;
  margin: 0;
  padding: 0;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b4b4b4;
}

ul li {
  float: left;
  padding: 20px 0px 0px 20px;
}

ul li a {
  display: block;
  color: black;
  padding: 14px 16px 0px 0px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.login-register {
  float: right;
  padding: 10px 0px 0px 0px;
}

.login-register button {
  width: 200px;
}

.content-images {
  float: left;
  width: 70%;
  height: 800px;
  background-image: url("../../../assets/images/img.jpg");
}

.content {
  float: left;
  width: 30%;
  height: 800px;
  background-color: white;
}

.content-login {
  width: 70%;
  height: 500px;
  background-color: white;
  text-align: left;
  margin: auto;
  padding: 100px 0px 0px 0px;
}

.top {
  background-color: #b4b4b4;
  border: none;
  padding: 16 32px 0px 0px;
  height: 70px;
}

.bottom {
  border-radius: 8px;
  background-color: gray;
  color: black;
  border: none;
  padding: 20px 10px 20px 0px;
  width: 45%;
}

.button-registernow {
  color: red;
  background-color: red;
  border: none;
  padding: 22px 22px 10px 10px;
  margin: 50px 0px 0px 0px;
  font-size: 20px;
  max-width: 220px;
}

.login {
  float: left;
}

.button {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.register {
  float: right;
}

.button:hover {
  background-color: #209920;
  color: white;
}

input[type=text],
input[type=password] {
  width: 75%;
  padding: 12px 40px 12px 40px;
  margin: 8px 8px 8px 1px;
  border: 2px solid #5f69a3;
  text-align: start;
}

.form-login a[href="#1"] {
  color: black;
}

.input-icons i {
  position: absolute;
  padding: 15px 15px 15px 15px;
  font-size: 24px;
}

ul img {
  max-width: 100px;
  max-height: 100%;
  position: absolute;
  padding: 5px 5px 5px 5px;
  margin: 0px 0px 0px 45%;
}

#content-img {
  background-color: black;
  width: 50%;
  height: 50%;
  margin: 15% auto auto auto;
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}

#img-top {
  position: absolute;
  right: 1%;
  border-radius: 60px;
  background-color: #5a5a5a;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 900px) {
  .content {
    width: 100%;
    height: auto;
    background-color: white;
  }
  .content-images {
    float: left;
    width: 100%;
    height: 700px;
    background-image: url("../../../assets/images/img.jpg");
  }
  #content-img {
    background-color: black;
    width: 95%;
    height: 75%;
    margin: 15% auto auto auto;
    padding: 10px 10px 10px 10px;
    color: white;
    text-align: center;
  }
  input[type=text],
  input[type=password] {
    width: 85%;
    padding: 12px 30px 12px 50px;
    margin: 8px 8px 8px 1px;
    border: 2px solid #5f69a3;
    text-align: start;
  }
  .login-register button {
    width: 130px;
  }
  ul img {
    max-width: 70px;
    max-height: 50%;
    position: absolute;
    padding: 80px 5px 5px 5px;
    margin: 0px 0px 0px 40%;
  }
}
/*# sourceMappingURL=style.css.map */